@import url('https://fonts.googleapis.com/css?family=Exo+2:400,700|Merienda:700|Tajawal:700');

.black-text {
  color: #000;
}

.taj-txt {
  font-family: 'Tajawal', sans-serif;
}

.exo-txt {
  font-family: 'Exo 2', sans-serif;
}

.mer-txt {
  font-family: 'Merienda', cursive;
}

.navbar {
  min-height: 100px;
}


body {
   position: relative;
   margin:0px;
   padding:0px;
   min-height: 100%;
}

footer {
  position: absolute;
  bottom:0;
  width:100%;
  margin-top: 20px;
  color: #8D8D8D;
  background-color: #000;
  font-size: 12px;
}

.home {
  height: 1200px;
}
.glyphicon-chevron-right {
  margin-left: 20px;
}

.glyphicon {
  margin-right: 5px;
}

.carousel-inner {
  height: 600px;
}



.vl {

  border-right: 1px solid #8D8D8D;
  height: 50px;
}

.vl2 {

  border-right: 1px solid #8D8D8D;
  height: 50px;
}

/* SOCIAL MEDIA BUTTONS
.social {

}*/
/* SM ICON HOVER ZOOM */
.s {
  transition: transform .5s;
  border-radius: 8px;
  margin-bottom: 5px;
  padding: 5px;
}

.s:hover {
    text-decoration: none;
    transform: scale(1.2);
}

.fa-facebook {
  background: #3B5998;
  color: #fff;
}

.fa-twitter {
  background: #55ACEE;
  color: #fff;
}
.fa-linkedin {
  background: #007bb5;
  color: #fff;
}

.fa-github {
  background: #34383B;
  color: #fff;
}

.f-links { /*footer links*/
  text-decoration: underline;
  position: absolute;
  bottom: 10px;
}

.f-links ul {
  margin-left: 50px;
  list-style: none;
}

.f-links a {
  color: #8D8D8D;
}


.footer-row {
  margin-top: 30px;
}

/* LOGIN FORM */

.forgot a { /*forgot password margin*/
  margin-top: 20px;
}

/* CONTACT PAGE */
.table {
  margin-top: 20px;
}

.gmap {
  margin-top: 10px;
}

/* about page card */

.about {
  height: 1200px;
}



.fa {
  width: 20px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
}

.cardtitle {
    color: grey;
    font-size: 18px;
}

.cardbtn {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

.cardlinks {
    text-decoration: none;
    font-size: 22px;
    color: black;
}

.cardbtn:hover, a:hover {
    opacity: 0.7;
}

@media screen and (max-width: 767px) {
  .mc-field-group, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
  footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
  }
  html, body {
    min-height: 100%;
    position: relative;
  }
}
