@import url('https://fonts.googleapis.com/css?family=Exo:700i|Tajawal');

.black-text {
  color: #000;
}

.taj-txt {
  font-family: 'Tajawal', sans-serif;
}

.exo-txt {
  font-family: 'Exo', sans-serif;
}

.glyphicon-chevron-right {
  margin-left: 20px;
}

.glyphicon {
  margin-right: 5px;
}

.carousel-inner {
  max-height: 600px;
}
.carousel-caption {
  background-color: rgba(0,0,0,.5);
  position: relative;
  top: 100px;
  transform: translateY(-50%);
  height: 100px;
}

.carousel-caption h3 {
  text-shadow: 2px 2px #000;
}

footer {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
}
